:host{
    display: flex;
    flex-direction: column;
    height: 100%
}

mat-drawer{
    width: 350px;
}

mat-drawer-container{
    height: 100%;
}

mat-drawer-content{
    padding: 20px;
}

@media (max-width: "699px"){
    mat-drawer{
        position: sticky;
    }
    mat-drawer-content{
        width: 100%;
    }
}